 #quotes-page{
   background-size:cover;
   background-repeat:no-repeat;
   background-image: url('src/assets/pexels-photobg.webp');
 }

#quotes{
  color:white;
  text-align: center;
  text-decoration: underline;
}


#quotes{
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: center;
}
.card-block{
  background-color: rgba(185, 233, 179, 0.9);
  display: flex;
  margin: 10px;
}

.card-text{
  font-weight: 400;
  font-size: large;
}

#details-btn{
  font-size:13px;
}

