<div class="container-fluid">
  <h2 class="text-center">Add a new Quote</h2>
  <hr>
  <form>
      <div class="form-group">

          <label for="quoteText">Quote:</label>
          <input type="text" required class="form-control" id="quoteText">

      </div>
      <div class="form-group">

          <label for="author">Author:</label>
          <input class="form-control" id="author" rows="4">            

      </div>
      <div class="form-group">
          <label for="submittedBy">Completion</label>
          <input type='date' id="submittedBy">

      </div>
  </form>
</div>
